[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter-book = "~=0.12.1"
sphinxcontrib-bibtex = "==2.2.0"

[dev-packages]
jupyterlab = "~=3.2.4"

[requires]
python_version = "3.9"
